/* optima */
    @font-face {
        font-family: 'optima';
        src: url('../font/Optima/OptimaLTStd.otf');
    }
    @font-face {
        font-family: 'optima';
        font-weight: bold;
        src: url('../font/Optima/OptimaLTStd-Bold.otf');
    }
    @font-face {
        font-family: 'optima black';
        src: url('../font/Optima/OptimaLTStd-Black.otf');
    }
/* optima */
/* kanit */
    @font-face {
        font-family: 'kanit';
        src: url('../font/Kanit/Kanit-Medium.ttf');
    }
    @font-face {
        font-family: 'kanit';
        font-weight: lighter;
        src: url('../font/Kanit/Kanit-Light.ttf');
    }
/* kanit */

/* roboto */
    @font-face{
        font-family: 'roboto regular';
        src: url('../font/Roboto/Roboto-Regular.ttf');
    }
    @font-face{
        font-family: 'roboto black';
        src: url('../font/Roboto/Roboto-Black.ttf');
    }
    @font-face{
        font-family: 'roboto medium';
        src: url('../font/Roboto/Roboto-Medium.ttf');
    }
    @font-face{
        font-family: 'roboto';
        font-weight: bold;
        src: url('../font/Roboto/Roboto-Bold.ttf');
    }
/* roboto */