form.form-style input,
form.form-style textarea{
	display: block;
	width: 96%;
	margin-bottom: 15px;
	padding: 8px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: rgb(58,58,58);
}
form.form-style span{
	color: red;
}