/* header */
	#header{
		position: relative;
		margin: 0;
		padding: 0;
		height: 160vh;
	}
	/* slider */
		#header #sliders{
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;	
		}
		#header #sliders .item{
			position: relative;
			height: 160vh;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		#header #sliders .item .title{
			position: absolute;
			top: 40vh;
			left: 10vw;
		}
		#header #sliders .item .title h1{
			margin: 0;
			text-transform: uppercase;
			color: rgb(255,255,255);
			font-family: 'optima black';
			font-size: 42px;
		}
	/* slider */
	/* psp */
		#header #psp{
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		#header #psp #content{
			position: absolute;
			bottom: 30vh;
		    right: 6.5%;
			width: 25vw;
			z-index: 1;
			padding: 20px;
			background-color: rgb(255,255,255);
			border-right: 3px solid rgb(46,49,146);
			border-bottom: 3px solid rgb(46,49,146);
			box-shadow: 3px 3px 10px rgb(58,58,58);
		}
		#header #psp #content p{
			margin: 0;
			font-size: 26px;
			margin-bottom: 20px;
			font-family: 'optima';
		}
		#header #psp #content p b{
			font-family: 'optima';
	        font-weight: bold;
		}
		#header #psp button{
			margin: 30px auto;
		}
		#header #psp #bg{
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	/* psp */
	/* mobile */
		@media (max-width: 480px) {
			#header{
				height: 100vh;
			}
			#header #sliders .item{
				height: 100vh;
			}
			#header #sliders .item .title{
				top: 25vh;
				left: 5vw;
			}
			#header #sliders .item .title h1{
				font-size: 20px;
			}
			#header #psp #content{
				bottom: 5vh;
				left: 5vw;
				width: 60vw;
				padding: 10px;
			}
			#header #psp #content p{
				font-size: 12px;
				margin-bottom: 10px;
			}
			#header #psp #content form.form-style input, 
			#header #psp #content form.form-style textarea{
				margin-bottom: 10px;
				padding: 4px;
				font-size: 12px;
			}
			#header #psp button{
				margin: 0 auto;
				padding: 5px 20px;
				font-size: 12px;
			}
		}
	/* mobile */
/* header */

/* tentang kami */
	#tentang-kami{
		position: relative;
		margin: 0;
		padding: 0;
	}
	#tentang-kami #set-up{
		position: relative;
		width: 85%;
		margin: 0 auto;
	}
	#tentang-kami #set-up .wrapper{
		float: left;
		width: 50%;
	}
	#tentang-kami #set-up .wrapper img{
		position: relative;
	    top: -80px;
	    width: 115%;
	    left: -25%;
	}
	#tentang-kami #set-up .wrapper #title{
		position: relative;
		top: -20px;
	}
	#tentang-kami #set-up .wrapper #title h2{
		margin: 0;
		color: rgb(0,0,0);
		font-family: 'optima black';
		font-size: 42px;
	}
	#tentang-kami #set-up .wrapper p{
		line-height: 1.41;
		text-align: justify;
		color: rgb(61,61,61);
		font-family: 'kanit';
        font-weight: lighter;
	}
	#tentang-kami #set-up .wrapper #href{
		text-align: center;
		margin: 60px auto;
	}
	/* mobile */
		@media (max-width: 480px) {
			#tentang-kami #set-up .wrapper{
				width: 100%;
			}
			#tentang-kami #set-up .wrapper:nth-child(odd){
				display: none;
			}
			#tentang-kami #set-up .wrapper #title{
				top: -5px;
			}
			#tentang-kami #set-up .wrapper #title h2{
				font-size: 32px;
			}
		}
	/* mobile */
/* tentang kami */

/* produk */
	#produk{
		position: relative;
		display: table;
		margin: 0;
		padding: 0;
	}
	#produk .img,
	#produk #description{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: table-cell;
		height: 80vh;
		vertical-align: middle;
	}
	#produk .img{
		width: 35%;
	}
	#produk #description{
		width: 30%;
		text-align: center;
	}
	#produk #description #title{
		margin-bottom: 10vh;
	}
	#produk #description #title h2{
		margin: 0;
		font-size: 38px;
		font-family: 'optima black';
	}
	#produk #description p{
		width: 75%;
		margin: 0 auto;
		margin-bottom: 10vh;
		line-height: 1.61;
		color: rgb(61,61,61);
		font-family: 'kanit';
        font-weight: lighter;
	}
	/* mobile */
		@media (max-width: 480px) {
			#produk .img{
				width: 0;
			}
			#produk #description{
				width: 100%;
			}
			#produk #description #title,
			#produk #description .text-center{
				margin: 5vh auto;
			}
		}
	/* mobile */
/* produk */

/* servis */
	#servis{
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#servis #wrapper{
		position: relative;
		margin: 0 auto;
		width: 80%;
	}
	/* title */
		#servis #wrapper #title{
			padding-top: 40px;
			padding-bottom: 20px;
			text-align: center;
		}
		#servis #wrapper #title h2{
			color: rgb(46,49,146);
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid rgb(46,49,146);
			font-size: 38px;
			font-family: 'optima black';
		}
		#servis #wrapper #title p{
			width: 55%;
			margin: 0 auto;
			color: rgb(61,61,61);
			font-family: 'kanit';
	        font-weight: lighter;
			font-size: 14px;
		}
	/* title */
	/* slider */
		#servis #wrapper #sliders{
			position: relative;
			width: 100%;
			display: table;
		}
		#servis #wrapper #sliders .item .wrapper{
			width: 100%;
			text-align: center;
		}
		#servis #wrapper #sliders .item .to-center{
			width: 275px;
			margin: 0 auto;
			text-align: center;
		}
		#servis #wrapper #sliders .item .border{
			width: 270px;
			height: 270px;
			margin: 0 auto;
			border-radius: 100%;
			border: 3px solid rgb(46,49,146);
			display: table-cell;
			vertical-align: middle;
		}
		#servis #wrapper #sliders .item .border .img{
			width: 255px;
			height: 255px;
			margin: 0 auto;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 100%;
		}
		#servis #wrapper #sliders .item h4{
			margin-top: 10px;
			margin-bottom: 20px;
			font-size: 26px;
			font-family: 'optima black';
		}
		#servis #wrapper #sliders .item p{
			margin: 0 auto;
			font-family: 'kanit';
	        font-weight: lighter;
			font-size: 14px;
		}
		#servis #wrapper #sliders .owl-controls{
			position: absolute;
			top: -110px;
			width: 100%;
		}
		#servis #wrapper #sliders .owl-controls .owl-buttons div{
			background-color: rgba(0,0,0,0);
		}
		#servis #wrapper #sliders .owl-controls .owl-buttons div img{
			width: 20px;
		}
		#servis #wrapper #sliders .owl-controls .owl-buttons .owl-prev{
			position: relative;
			float: left;
			left: -50px;
			transform: rotateY(180deg);
		}
		#servis #wrapper #sliders .owl-controls .owl-buttons .owl-next{
			position: relative;
			float: right;
			right: -50px;
		}
	/* slider */
	/* mobile */
		@media (max-width: 480px) {
			#servis{
				height: auto;
				padding-bottom: 20px;
			}
			#servis #wrapper #title{
				padding-top: 20px;
			}
			#servis #wrapper #title h2{
				margin-bottom: 10px;
				padding-bottom: 10px;
			}
			#servis #wrapper #title p{
				width: 100%;
			}
			#servis #wrapper #sliders .owl-controls{
				top: -25vh;
			}
			#servis #wrapper #sliders .owl-controls .owl-buttons .owl-prev{
				left: -40px;
			}
			#servis #wrapper #sliders .owl-controls .owl-buttons .owl-next{
				right: -40px;
			}
			#servis #wrapper #sliders .item .to-center{
				width: 185px;
			}
			#servis #wrapper #sliders .item .border{
				width: 185px;
				height: 185px;
			}
			#servis #wrapper #sliders .item .border .img{
				width: 170px;
				height: 170px;
			}
			#servis #wrapper #sliders .item h4{
				margin-top: 5px;
				margin-bottom: 0px;
			}
		}
	/* mobile */
/* servis */

/* klien */
	#klien{
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: rgb(0,0,0);
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#klien #wrapper{
		position: relative;
		margin: 0 auto;
		width: 65%;
		text-align: center;
	}
	#klien #wrapper h2{
		margin-top: 0;
		margin-bottom: 40px;
		text-transform: uppercase;
		color: rgb(255,255,255);
		font-size: 38px;
		font-family: 'optima black';
	}
	#klien #wrapper #sliders .item img.img{
		height: 40px;
	}
	/* mobile */
		@media (max-width: 480px) {
			#klien #wrapper{
				width: 100%;
			}
		}
	/* mobile */
/* klien */