/* navbar*/
	#navigasi #contact label{
		color: rgb(68,68,68);
	}
	#navigasi #contact label img{
		filter: initial;
	}
/* navbar*/

/* header */
	#header{
		position: relative;
		background-color: rgb(242,242,242);
		width: 100%;
		height: 85vh;
	}
	#header #wrapper{
		position: relative;
		width: 85%;
		margin: 0 auto;
	}
	#header #wrapper #content{
		padding-top: 30vh;
		width: 45%;
	}
	#header #wrapper #content h1{
		margin: 0;
		text-transform: uppercase;
		font-family: 'optima black';
		font-size: 38px;
	}
	#header #wrapper #content p{
		line-height: 1.41;
		font-family: 'kanit';
        font-weight: lighter;
	}
	#header #wrapper img{
		position: absolute;
		top: 15vh;
		right: -15px;
	}
	/* mobile */
		@media (max-width: 480px) {
			#header{
				height: auto;
				padding-bottom: 5vh;
				overflow-x: hidden;
			}
			#header #wrapper a{
				pointer-events: none;
			}
			#header #wrapper img{
				width: 320px;
				right: -100px;
			}
			#header #wrapper #content{
				position: relative;
				z-index: 1;
				padding-top: 25vh;
				width: 75%;
			}
			#header #wrapper #content h1{
				font-size: 28px;
			}
			#header #wrapper #content p{
				font-size: 14px;
			}
		}
	/* mobile */
/* header */

/* body */
	#body{
		background-color: white;
		position: relative;
		width: 100%;
		height: 65vh;
	}
	#body img.teksture{
		position: absolute;
	}
	#body img#top.teksture{
		top: 0;
		left: 0;
		width: 140px;
	}
	#body img#bottom.teksture{
		bottom: 0;
		right: 0;
	}
	#body #to-up{
		position: absolute;
		top: -15vh;
		width: 100%;
	}
	#body #to-up #wrapper{
		position: relative;
		width: 85%;
		margin: 0 auto;
		box-shadow: 0px 1px 5px rgb(68,68,68);
		background-color: rgb(46,49,146);
	}
	#body #to-up #wrapper .bar{
		float: left;
	}
	#body #to-up #wrapper .bar h2{
		margin: 0;
		margin-bottom: 20px;
	}
	/* kirim pesan */
		#body #to-up #wrapper #kirim-pesan{
			background-color: white;
			width: 60%;
		}
		#body #to-up #wrapper #kirim-pesan h2{
			color: rgb(46,49,146);
		}
		#body #to-up #wrapper #kirim-pesan #content{
			padding: 20px 20px 40px;
		}
		#body #to-up #wrapper #kirim-pesan form .float{
			float: left;
			width: 45%;
		}
		#body #to-up #wrapper #kirim-pesan form .float.margin{
			margin-right: 7.5%;
		}
		#body #to-up #wrapper #kirim-pesan form .g-recaptcha{
			float: left;
		}
		#body #to-up #wrapper #kirim-pesan form button#submit{
			float: right;
		}
	/* kirim pesan */
	/* kontak informasi */
		#body #to-up #wrapper #kontak-informasi{
			width: 40%;
		}
		#body #to-up #wrapper #kontak-informasi h2{
			color: white;
		}
		#body #to-up #wrapper #kontak-informasi #content{
			padding: 20px 40px;
		}
		#body #to-up #wrapper #kontak-informasi .rows{
			display: table;
			width: 100%;
		}
		#body #to-up #wrapper #kontak-informasi .rows .cell{
			display: table-cell;
			vertical-align: middle;
			height: 60px;
			padding: 0 10px;
		}
		#body #to-up #wrapper #kontak-informasi .rows .cell:nth-child(odd){
			width: 15%;
			text-align: center;
		}
		#body #to-up #wrapper #kontak-informasi .rows .cell:nth-child(even){
			width: 85%;
		}
		#body #to-up #wrapper #kontak-informasi .rows .cell img{
		    filter: grayscale(100%) brightness(-100%) invert(100%);
		}
		#body #to-up #wrapper #kontak-informasi .rows .cell p{
			margin: 0;
			color: white;
			font-family: 'kanit';
	        font-weight: lighter;
	        font-size: 14px;
		}
		#body #to-up #wrapper #kontak-informasi #temukan-kami{
			margin-top: 20px;
		}
		#body #to-up #wrapper #kontak-informasi #temukan-kami img{
			width: 30px;
			display: inline-grid;
			margin: 0 2.5px;
		    filter: grayscale(100%) brightness(-100%) invert(100%);
		    -moz-filter: grayscale(100%) brightness(-100%) invert(100%);
		}
	/* kontak informasi */
	/* mobile */
		@media (max-width: 480px) {
			#body{
				height: auto;
			}
			#body img.teksture{
				display: none;
			}
			#body #to-up{
				position: relative;
				top: 0vh;
			}
			#body #to-up #wrapper{
				width: 100%;
			}
			#body #to-up #wrapper #kirim-pesan{
				width: 100%;
			}
			#body #to-up #wrapper #kirim-pesan #content{
				padding: 10px;
			}
			#body #to-up #wrapper #kirim-pesan form .float.margin{
				margin: 0;
			}
			#body #to-up #wrapper #kirim-pesan form .float{
				width: 100%;
			}
			#body #to-up #wrapper #kirim-pesan form button#submit{
				margin-top: 10px;
			}
			#body #to-up #wrapper #kontak-informasi{
				width: 100%;
			}
		}
	/* mobile */
/* body */
